@model RRHH.Models.TipoJustificacion
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@{
    ViewData["Title"] = "Edición del tipo de justificación";

}

<form asp-action="Edit" method="post">
<div class="container">
             <div class="row ">
                <div class="col bottom-buffer">
                <label asp-for="descripcion" class="control-label">Descripción del tipo de justificación</label>
                <input asp-for="descripcion" class="form-control" />
                 <span class="alert-danger" asp-validation-for="descripcion"></span>
                 </div>
            </div>   
            
            <div class="row ">
                <div class="col bottom-buffer">
                <label asp-for="observacion" class="control-label">Observación del tipo de justificación</label>
                <input asp-for="observacion" class="form-control" />
                 </div>
            </div>    

             <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="pago" class="control-label">Se Paga?</label>
                  <select  data-filter="model" class="form-control" name="pago" id="pago" asp-for="pago" >
                    <option value="1">Pago</option>
                    <option value="0">No Pago</option>
                  </select>   
                 </div>
                 <div class="col bottom-buffer">
                   <label asp-for="mes_completo" class="control-label">Mes Completo?</label>
                   <select  data-filter="model" class="form-control" name="mes_completo" id="pago" asp-for="mes_completo" >
                     <option value="1">SI</option>
                     <option value="0">NO</option>
                    </select>   
                 </div>
            </div>    

            <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="pre_presentismo" class="control-label">Presentismo?</label>
                  <select  data-filter="model" class="form-control" name="pre_presentismo" id="pago" asp-for="pre_presentismo" >
                    <option value="1">SI</option>
                    <option value="0">NO</option>
                  </select>   
                 </div>
                 <div class="col bottom-buffer">
                   <label asp-for="pre_puntualidad" class="control-label">Puntualidad?</label>
                   <select  data-filter="model" class="form-control" name="pre_puntualidad" id="pago" asp-for="pre_puntualidad" >
                     <option value="1">SI</option>
                     <option value="0">NO</option>
                    </select>   
                 </div>
            </div>    

           <div class="row ">
                 <div class="col bottom-buffer">
                   <label asp-for="pre_horas" class="control-label">Premio Horas?</label>
                   <select  data-filter="model" class="form-control" name="pre_horas" id="pago" asp-for="pre_horas" >
                     <option value="1">SI</option>
                     <option value="0">NO</option>
                    </select>   
                 </div>
            </div>    

              <div class="row " id="divInsertar">
                <div class="col bottom-buffer">
                      <a  value=""  class="btn btn-outline-danger" onclick="mostrarModalSalida();" >Salir</a>
                      <a  value=""  class="btn btn-outline-danger" onclick="mostrarModalGrabar();" >Grabar</a>
@*                     <button id="btnGrabar" type="submit" value="" class="btn btn-outline-success"   >Grabar</button>
*@                </div>
            </div>
   
</div>




  <!-- Modal Grabar -->
<div class="modal fade" id="mdGrabar" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Tipo de justificación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Confirma los cambios hechos?
      </div>
      <div class="modal-footer">
          <button type="submit"  value=""  class="btn btn-outline-success" >SI</button>
          <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>



<!-- Modal Salir -->
<div class="modal fade" id="mdSalir" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Tipo de justificación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se perderán los cambios efectuados. Está seguro?
      </div>
      <div class="modal-footer">
        <a asp-action="Index" class="btn btn-outline-success"  Text="SI">SI</a>
        <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>

 </form>


 <script type="text/javascript">


//function HabilitarGrabar() {
//    if ($("#items").val()!="" && $("#cliente_id").val()!=0) 
//      $("#btnGrabar").show();
//    else
//     $("#btnGrabar").hide(); 
//}

function mostrarModalSalida(){
    if ($("#btnGrabar").is(":visible"))
      $("#mdSalir").modal('show');
    else 
      window.location.href = "/TipoJustificacion/Index";
}
function mostrarModalGrabar(){
    $("#mdGrabar").modal('show');
}

</script>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
