body {
}

.BarraCantidad {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.chkBox {
    margin-left: 20px;
}

/* Modify the background color */
.navbar-custom {
    background-color: #c8c4c4;
}

/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: black;
 }