@model RRHH.Models.Usuario
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@{
    ViewData["Title"] = "Registro de usuario";

}

 <form asp-action="Registro" method="post">
<div class="container">
<h2>Registro de usuario</h2>
       

             <div class="row ">
                <div class="col bottom-buffer">
                <label asp-for="UsuarioID" class="control-label">Usuario</label>
                <input asp-for="UsuarioID" class="form-control" />
                <span class="alert-danger" asp-validation-for="UsuarioID"></span>
                 </div>
            </div>
             <div class="row ">
                <div class="col bottom-buffer">
                <label asp-for="clave" class="control-label">Ingrese su clave</label>
                <input asp-for="clave" class="form-control" />
                 <span class="alert-danger" asp-validation-for="clave"></span>
                  </div>
            </div>
          <div class="row ">
                <div class="col bottom-buffer">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                 <span class="alert-danger" asp-validation-for="Nombre"></span>
                  </div>
            </div>
            <div class="row ">
                <div class="col bottom-buffer">
                <label asp-for="Apellido" class="control-label">Apellido</label>
                <input asp-for="Apellido" class="form-control" />
                 <span class="alert-danger" asp-validation-for="Apellido"></span>
                  </div>
            </div>

             <div class="row" id="divPerfil">
                  <div class="col bottom-buffer">
                 <div class="form-check form-check-inline">
                       <input class="form-check-input" asp-for="perfil_id" type="radio"  value="1" id="admin" checked>
                       <label class="form-check-label">Administrador Sistema</label>
                  </div>
                  <div class="form-check form-check-inline">
                       <input class="form-check-input" asp-for="perfil_id" type="radio"  value="2" id="total" >
                       <label class="form-check-label">Acceso total</label>
                  </div>
                  <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="perfil_id" type="radio"  value="3" id="total" anio>
                        <label class="form-check-label">Acceso limitado</label>
                  </div>
                  </div>
             </div>    

              <div class="row " id="divInsertar">
                <div class="col bottom-buffer">                    
                     <a  value=""  class="btn btn-outline-danger" onclick="mostrarModalSalida();" >Salir</a>
                    <button id="btnGrabar" type="submit"  asp-route-id=@Model.UsuarioID value="" class="btn btn-outline-success"   >Grabar</button>
                </div>
              </div>
</div>



<div class="form-group" id="divInsertar">  

    </div>



  <!-- Modal Grabar -->
<div class="modal fade" id="mdGrabar" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Confirma los cambios hechos en el usuario?
      </div>
      <div class="modal-footer">
          <button type="submit"  asp-route-id=@Model.UsuarioID value=""  class="btn btn-outline-success" >SI</button>
          <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Modal Salir -->
<div class="modal fade" id="mdSalir" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se perderán los cambios efectuados. Está seguro?
      </div>
      <div class="modal-footer">
        <a asp-action="Index" class="btn btn-outline-success"  Text="SI">SI</a>
        <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>
 </form>


 <script type="text/javascript">


//function HabilitarGrabar() {
//    if ($("#items").val()!="" && $("#cliente_id").val()!=0) 
//      $("#btnGrabar").show();
//    else
//     $("#btnGrabar").hide(); 
//}

function mostrarModalSalida(){
    if ($("#btnGrabar").is(":visible"))
      $("#mdSalir").modal('show');
    else 
      window.location.href = "/Usuario/Index";
}
function mostrarModalGrabar(){
    $("#mdGrabar").modal('show');
}

</script>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
