@model RRHH.Models.Turno
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@{
    ViewData["Title"] = "Edición de turno";

}

<form asp-action="Edit" method="post">
<div class="container">
             <div class="row ">
                <div class="col bottom-buffer">
                <label asp-for="descripcion" class="control-label">Nombre del Turno</label>
                <input asp-for="descripcion" class="form-control" />
                 <span class="alert-danger" asp-validation-for="descripcion"></span>
                 </div>
            </div>           
            
            <div class="col bottom-buffer">
                     <label asp-for="ubicacion_id" class="control-label">Ubicación</label>
                     <select  class="form-control" id="ubicacion_id" asp-for="ubicacion_id" ></select>
                     <span class="alert-danger" asp-validation-for="ubicacion_id"></span>
                  </div>

              <div class="col bottom-buffer" id="divHorasDiarias">
                   <label asp-for="horas_diarias" class="control-label">Horas Diarias</label>
                   <input asp-for="horas_diarias" id="horas_diarias" type="number" class="form-control"  />
                   <span class="alert-danger" asp-validation-for="horas_diarias"></span>
              </div>
				
               <div class="col bottom-buffer" id="divHorasMedioFranco">
                   <label asp-for="horas_medio_franco" class="control-label">Horas Medio Franco</label>
                   <input asp-for="horas_medio_franco" id="horas_medio_franco" type="number" class="form-control"  />
                   <span class="alert-danger" asp-validation-for="horas_medio_franco"></span>
              </div>

              <div class="col bottom-buffer">
                <label asp-for="tipo_turno_id" class="control-label">Tipo Turno</label>
                 <select  data-filter="model" class="form-control" name="tipo_turno_id" id="tipo_turno_id" asp-for="tipo_turno_id" >
                  <option value=1>Full Time</option>
                  <option value=2>Part Time</option>
                </select>   
              </div>

              <div class="row " id="divInsertar">
                <div class="col bottom-buffer">
                      <a  value=""  class="btn btn-outline-danger" onclick="mostrarModalSalida();" >Salir</a>
                     <button id="btnGrabar" type="submit" value="" class="btn btn-outline-success"   >Grabar</button>
                </div>
            </div>
   
</div>




  <!-- Modal Grabar -->
<div class="modal fade" id="mdGrabar" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Turno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Confirma los cambios hechos?
      </div>
      <div class="modal-footer">
          <button type="submit"  asp-route-id=@ViewData["ID"] value=""  class="btn btn-outline-success" >SI</button>
          <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>



<!-- Modal Salir -->
<div class="modal fade" id="mdSalir" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Turno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se perderán los cambios efectuados. Está seguro?
      </div>
      <div class="modal-footer">
        <a asp-action="Index" class="btn btn-outline-success"  Text="SI">SI</a>
        <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>

 </form>


 <script type="text/javascript">


//function HabilitarGrabar() {
//    if ($("#items").val()!="" && $("#cliente_id").val()!=0) 
//      $("#btnGrabar").show();
//    else
//     $("#btnGrabar").hide(); 
//}

$(document).ready(function () {  
        var CodUbicacion = @Html.Raw(Json.Serialize(Model.ubicacion_id));
        ObtenerUbicaciones();

        if (CodUbicacion==3) {
            $("#divHorasDiarias").show();
        }
        else {
               $("#divHorasDiarias").hide();
        }

 })

function mostrarModalSalida(){
    if ($("#btnGrabar").is(":visible"))
      $("#mdSalir").modal('show');
    else 
      window.location.href = "/Turno/Index";
}
function mostrarModalGrabar(){
    $("#mdGrabar").modal('show');
}

 
    $("#ubicacion_id").change(function () {
        
       if ($("#ubicacion_id").val() ==3) {
            $("#divHorasDiarias").show();
            $("#divHorasMedioFranco").show();
            $("#horas_diarias").val('');
            $("#horas_medio_franco").val('');
        }
        else {
            $("#horas_diarias").val('');
            $("#divHorasDiarias").hide();
            $("#horas_medio_franco").hide();
            $("#divHorasMedioFranco").hide();
           
        }
           
    });


 var ObtenerUbicaciones = function () {
         var CodUbicacion =@Html.Raw(Json.Serialize(Model.ubicacion_id));
         $.ajax({
            url: '@Url.Action("ObtenerUbicaciones","Legajo")',
            type: 'GET',
            data: {
            },
            success: function (data) {
                $('#ubicacion_id').find('option').remove()
                $(data).each(
                    function (index, item) {            
                        if (item.value==CodUbicacion)
                          $('#ubicacion_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                        else 
                          $('#ubicacion_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    });
            },
            error: function () {
            }
      });
    }

</script>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
