/****** Object:  Table [dbo].[categoria]    Script Date: 8/6/2022 16:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoria_novedad]    Script Date: 8/6/2022 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria_novedad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_categoria_novedad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empresa]    Script Date: 8/6/2022 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empresa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[nomenclatura] [varchar](50) NULL,
 CONSTRAINT [PK_empresa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[funcion]    Script Date: 8/6/2022 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_funcion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genero]    Script Date: 8/6/2022 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_genero] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[legajo]    Script Date: 8/6/2022 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[legajo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empresa_id] [int] NOT NULL,
	[nro_legajo] [int] NOT NULL,
	[dni] [int] NULL,
	[genero_id] [int] NULL,
	[ubicacion_id] [int] NOT NULL,
	[sector_id] [int] NULL,
	[local_id] [int] NULL,
	[apellido] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[categoria_id] [int] NULL,
	[funcion_id] [int] NULL,
	[activo] [bit] NOT NULL,
	[fecha_alta] [datetime] NULL,
	[fecha_baja] [datetime] NULL,
	[observacion] [text] NULL,
 CONSTRAINT [PK_Legajo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[novedad]    Script Date: 8/6/2022 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[novedad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[legajo_id] [int] NOT NULL,
	[ubicacion_id] [int] NULL,
	[responsable_id] [int] NULL,
	[categoria_novedad_id] [int] NOT NULL,
	[tipo_novedad_id] [int] NULL,
	[tipo_resolucion_id] [int] NULL,
	[concepto] [int] NULL,
	[observacion] [text] NULL,
	[dias] [int] NULL,
	[fecha_novedad] [datetime] NOT NULL,
	[fecha_resolucion] [datetime] NULL,
	[fecha_alta] [datetime] NOT NULL,
	[sector_id] [int] NULL,
	[usuario_id] [int] NULL,
	[local_id] [int] NULL,
 CONSTRAINT [PK_legajo_novedad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfil]    Script Date: 8/6/2022 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil](
	[id] [int] NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_perfil] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[responsable]    Script Date: 8/6/2022 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[responsable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[apellido] [varchar](100) NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_responsable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sector]    Script Date: 8/6/2022 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sector](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
	[ubicacion_id] [int] NULL,
 CONSTRAINT [PK_sector] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_novedad]    Script Date: 8/6/2022 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_novedad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_legajo_tipo_novedad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_resolucion]    Script Date: 8/6/2022 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_resolucion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_legajo_tipo_resolucion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ubicacion]    Script Date: 8/6/2022 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ubicacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_ubicacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 8/6/2022 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [varchar](255) NOT NULL,
	[clave] [varchar](255) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[perfil_id] [int] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categoria] ON 

INSERT [dbo].[categoria] ([id], [descripcion]) VALUES (1, N'ADMINIST. B')
INSERT [dbo].[categoria] ([id], [descripcion]) VALUES (2, N'ADMINIST. E')
INSERT [dbo].[categoria] ([id], [descripcion]) VALUES (3, N'ADMINIST. F')
SET IDENTITY_INSERT [dbo].[categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[categoria_novedad] ON 

INSERT [dbo].[categoria_novedad] ([id], [descripcion]) VALUES (1, N'Sanciones')
INSERT [dbo].[categoria_novedad] ([id], [descripcion]) VALUES (2, N'Felicitaciones')
SET IDENTITY_INSERT [dbo].[categoria_novedad] OFF
GO
SET IDENTITY_INSERT [dbo].[empresa] ON 

INSERT [dbo].[empresa] ([id], [descripcion], [nomenclatura]) VALUES (1, N'MONTAGNE', N'MTG')
INSERT [dbo].[empresa] ([id], [descripcion], [nomenclatura]) VALUES (2, N'RANAWEL', N'RNW')
INSERT [dbo].[empresa] ([id], [descripcion], [nomenclatura]) VALUES (3, N'RF TEXTURE', N'RFT')
SET IDENTITY_INSERT [dbo].[empresa] OFF
GO
SET IDENTITY_INSERT [dbo].[funcion] ON 

INSERT [dbo].[funcion] ([id], [descripcion]) VALUES (1, N'A. ACOND.')
INSERT [dbo].[funcion] ([id], [descripcion]) VALUES (2, N'ADM. DISEÑO')
INSERT [dbo].[funcion] ([id], [descripcion]) VALUES (3, N'ADM. MODELISTA')
SET IDENTITY_INSERT [dbo].[funcion] OFF
GO
SET IDENTITY_INSERT [dbo].[genero] ON 

INSERT [dbo].[genero] ([id], [descripcion]) VALUES (1, N'Femenino')
INSERT [dbo].[genero] ([id], [descripcion]) VALUES (2, N'Masculino')
SET IDENTITY_INSERT [dbo].[genero] OFF
GO
SET IDENTITY_INSERT [dbo].[legajo] ON 

INSERT [dbo].[legajo] ([id], [empresa_id], [nro_legajo], [dni], [genero_id], [ubicacion_id], [sector_id], [local_id], [apellido], [nombre], [categoria_id], [funcion_id], [activo], [fecha_alta], [fecha_baja], [observacion]) VALUES (7, 1, 5, NULL, 2, 2, 31, NULL, N'LAGO GONZALEZ', N'JOSE DANIEL', 11, 9, 1, CAST(N'1998-12-07T00:00:00.000' AS DateTime), NULL, N'')
INSERT [dbo].[legajo] ([id], [empresa_id], [nro_legajo], [dni], [genero_id], [ubicacion_id], [sector_id], [local_id], [apellido], [nombre], [categoria_id], [funcion_id], [activo], [fecha_alta], [fecha_baja], [observacion]) VALUES (8, 1, 213, NULL, 1, 2, 31, NULL, N'DIACO', N'NOELIA LEANDRA', 12, 9, 1, CAST(N'2005-06-13T00:00:00.000' AS DateTime), NULL, N'')
INSERT [dbo].[legajo] ([id], [empresa_id], [nro_legajo], [dni], [genero_id], [ubicacion_id], [sector_id], [local_id], [apellido], [nombre], [categoria_id], [funcion_id], [activo], [fecha_alta], [fecha_baja], [observacion]) VALUES (9, 1, 294, NULL, 2, 2, 42, NULL, N'FERNANDEZ', N'EDGARDO GUSTAVO', 15, 56, 1, CAST(N'2006-06-05T00:00:00.000' AS DateTime), NULL, N'')
GO
SET IDENTITY_INSERT [dbo].[legajo] OFF
GO
SET IDENTITY_INSERT [dbo].[novedad] ON 

INSERT [dbo].[novedad] ([id], [legajo_id], [ubicacion_id], [responsable_id], [categoria_novedad_id], [tipo_novedad_id], [tipo_resolucion_id], [concepto], [observacion], [dias], [fecha_novedad], [fecha_resolucion], [fecha_alta], [sector_id], [usuario_id], [local_id]) VALUES (7, 173, 2, 1, 2, 6, NULL, 7, N'TESTING', NULL, CAST(N'2022-06-07T00:00:00.000' AS DateTime), NULL, CAST(N'2022-06-07T11:47:03.530' AS DateTime), NULL, 4, NULL)
INSERT [dbo].[novedad] ([id], [legajo_id], [ubicacion_id], [responsable_id], [categoria_novedad_id], [tipo_novedad_id], [tipo_resolucion_id], [concepto], [observacion], [dias], [fecha_novedad], [fecha_resolucion], [fecha_alta], [sector_id], [usuario_id], [local_id]) VALUES (10, 348, 1, NULL, 1, 1, 1, 6, N'Dia 19/04/22 se observa nichos hidrantes y matafuegos obstruidos', NULL, CAST(N'2022-03-10T00:00:00.000' AS DateTime), CAST(N'2022-03-15T00:00:00.000' AS DateTime), CAST(N'2022-06-08T15:15:01.490' AS DateTime), NULL, 14, NULL)
INSERT [dbo].[novedad] ([id], [legajo_id], [ubicacion_id], [responsable_id], [categoria_novedad_id], [tipo_novedad_id], [tipo_resolucion_id], [concepto], [observacion], [dias], [fecha_novedad], [fecha_resolucion], [fecha_alta], [sector_id], [usuario_id], [local_id]) VALUES (11, 431, 1, NULL, 1, 1, 2, 6, N'Ausencia sin aviso ni justificacion el día 27/04/2022', NULL, CAST(N'2022-04-19T00:00:00.000' AS DateTime), CAST(N'2022-04-22T00:00:00.000' AS DateTime), CAST(N'2022-06-08T15:15:36.443' AS DateTime), NULL, 14, NULL)
SET IDENTITY_INSERT [dbo].[novedad] OFF
GO
INSERT [dbo].[perfil] ([id], [descripcion]) VALUES (1, N'Sistemas')
INSERT [dbo].[perfil] ([id], [descripcion]) VALUES (2, N'Admistrador RRHH')
INSERT [dbo].[perfil] ([id], [descripcion]) VALUES (3, N'Empleado RRHH')
GO
SET IDENTITY_INSERT [dbo].[responsable] ON 

INSERT [dbo].[responsable] ([id], [apellido], [nombre]) VALUES (1, N'Cossettini', NULL)
INSERT [dbo].[responsable] ([id], [apellido], [nombre]) VALUES (2, N'Galletti', NULL)
INSERT [dbo].[responsable] ([id], [apellido], [nombre]) VALUES (3, N'Perilli', NULL)
SET IDENTITY_INSERT [dbo].[responsable] OFF
GO
SET IDENTITY_INSERT [dbo].[sector] ON 

INSERT [dbo].[sector] ([id], [descripcion], [ubicacion_id]) VALUES (1, N'Costura 1', 1)
INSERT [dbo].[sector] ([id], [descripcion], [ubicacion_id]) VALUES (2, N'Costura 2', 1)
INSERT [dbo].[sector] ([id], [descripcion], [ubicacion_id]) VALUES (3, N'Costura 3', 1)
SET IDENTITY_INSERT [dbo].[sector] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_novedad] ON 

INSERT [dbo].[tipo_novedad] ([id], [descripcion]) VALUES (1, N'Descargo')
INSERT [dbo].[tipo_novedad] ([id], [descripcion]) VALUES (2, N'Mail')
INSERT [dbo].[tipo_novedad] ([id], [descripcion]) VALUES (3, N'Falta puntualidad')
SET IDENTITY_INSERT [dbo].[tipo_novedad] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_resolucion] ON 

INSERT [dbo].[tipo_resolucion] ([id], [descripcion]) VALUES (1, N'Notificación')
INSERT [dbo].[tipo_resolucion] ([id], [descripcion]) VALUES (2, N'Amonestación')
INSERT [dbo].[tipo_resolucion] ([id], [descripcion]) VALUES (3, N'Capacitación')
SET IDENTITY_INSERT [dbo].[tipo_resolucion] OFF
GO
SET IDENTITY_INSERT [dbo].[ubicacion] ON 

INSERT [dbo].[ubicacion] ([id], [descripcion]) VALUES (1, N'FABRICA')
INSERT [dbo].[ubicacion] ([id], [descripcion]) VALUES (2, N'EDIFICIO')
INSERT [dbo].[ubicacion] ([id], [descripcion]) VALUES (3, N'LOCAL')
SET IDENTITY_INSERT [dbo].[ubicacion] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [UsuarioID], [clave], [apellido], [nombre], [perfil_id]) VALUES (2, N'AGORAL', N'$2a$11$zuLDamkC94Bc7sUwcjhHBesVXQ7IYlYnsLpVIFM36plHQp7zLJrS2', N'Goral', N'Alejandro', 1)
INSERT [dbo].[usuario] ([id], [UsuarioID], [clave], [apellido], [nombre], [perfil_id]) VALUES (3, N'AFABIAN', N'$2a$11$721HZiAYh8gAr6KgKn9mj.kgSlIQl31r2J1DaIkTFolSFFMmAoBVG', N'Fabian', N'Ariel', 1)
INSERT [dbo].[usuario] ([id], [UsuarioID], [clave], [apellido], [nombre], [perfil_id]) VALUES (4, N'FARDANAZ', N'$2a$11$xtBSMYVhXrtv6.g7LCJxbu./EYa6MzSK0UB1lZkBA9R23MN3AkXea', N'Ardanaz', N'Florencia', 1)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
ALTER TABLE [dbo].[legajo]  WITH CHECK ADD FOREIGN KEY([empresa_id])
REFERENCES [dbo].[empresa] ([id])
GO
ALTER TABLE [dbo].[legajo]  WITH CHECK ADD FOREIGN KEY([funcion_id])
REFERENCES [dbo].[funcion] ([id])
GO
ALTER TABLE [dbo].[legajo]  WITH CHECK ADD FOREIGN KEY([funcion_id])
REFERENCES [dbo].[funcion] ([id])
GO
ALTER TABLE [dbo].[legajo]  WITH CHECK ADD FOREIGN KEY([genero_id])
REFERENCES [dbo].[genero] ([id])
GO
ALTER TABLE [dbo].[legajo]  WITH CHECK ADD FOREIGN KEY([sector_id])
REFERENCES [dbo].[sector] ([id])
GO
ALTER TABLE [dbo].[legajo]  WITH CHECK ADD FOREIGN KEY([ubicacion_id])
REFERENCES [dbo].[ubicacion] ([id])
GO
ALTER TABLE [dbo].[novedad]  WITH CHECK ADD FOREIGN KEY([categoria_novedad_id])
REFERENCES [dbo].[categoria_novedad] ([id])
GO
ALTER TABLE [dbo].[novedad]  WITH CHECK ADD FOREIGN KEY([legajo_id])
REFERENCES [dbo].[legajo] ([id])
GO
ALTER TABLE [dbo].[novedad]  WITH CHECK ADD FOREIGN KEY([responsable_id])
REFERENCES [dbo].[responsable] ([id])
GO
ALTER TABLE [dbo].[novedad]  WITH CHECK ADD FOREIGN KEY([sector_id])
REFERENCES [dbo].[sector] ([id])
GO
ALTER TABLE [dbo].[novedad]  WITH CHECK ADD FOREIGN KEY([tipo_novedad_id])
REFERENCES [dbo].[tipo_novedad] ([id])
GO
ALTER TABLE [dbo].[novedad]  WITH CHECK ADD FOREIGN KEY([tipo_resolucion_id])
REFERENCES [dbo].[tipo_resolucion] ([id])
GO
ALTER TABLE [dbo].[novedad]  WITH CHECK ADD FOREIGN KEY([ubicacion_id])
REFERENCES [dbo].[ubicacion] ([id])
GO
ALTER TABLE [dbo].[novedad]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuario] ([id])
GO
/****** Object:  StoredProcedure [dbo].[spCategoriaEliminar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCategoriaEliminar] 
@id int
AS

DELETE FROM  [dbo].[categoria]
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spCategoriaInsertar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCategoriaInsertar] 
@descripcion varchar(100)
AS

INSERT INTO [dbo].[categoria]
(
 descripcion 
)
VALUES
(
 @descripcion
)

GO
/****** Object:  StoredProcedure [dbo].[spCategoriaModificar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCategoriaModificar] 
@id int,
@descripcion varchar(100)
AS

UPDATE [dbo].[categoria]
SET descripcion = @descripcion
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spCategoriaNovedadObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCategoriaNovedadObtenerTodos] 
AS

SELECT * 
FROM  [dbo].[categoria_novedad]
order by id
GO
/****** Object:  StoredProcedure [dbo].[spCategoriaObtener]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCategoriaObtener] 
@id int
AS

SELECT * 
FROM  [dbo].[categoria]
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spCategoriaObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCategoriaObtenerTodos] 
AS

SELECT * 
FROM  [dbo].[categoria]

GO
/****** Object:  StoredProcedure [dbo].[spEmpresaObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEmpresaObtenerTodos] 
AS

SELECT * 
FROM  [dbo].[empresa]
order by id 
GO
/****** Object:  StoredProcedure [dbo].[spFuncionEliminar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFuncionEliminar] 
@id int
AS

DELETE FROM  [dbo].[funcion]
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spFuncionInsertar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFuncionInsertar] 
@descripcion varchar(100)
AS

INSERT INTO [dbo].[funcion]
(
 descripcion 
)
VALUES
(
 @descripcion
)
GO
/****** Object:  StoredProcedure [dbo].[spFuncionModificar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFuncionModificar] 
@id int,
@descripcion varchar(100)
AS

UPDATE [dbo].[funcion]
SET descripcion = @descripcion
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spFuncionObtener]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFuncionObtener] 
@id int
AS

SELECT * 
FROM  [dbo].[funcion]
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spFuncionObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFuncionObtenerTodos] 
AS

SELECT * 
FROM  [dbo].[funcion]
order by descripcion 
GO
/****** Object:  StoredProcedure [dbo].[spGeneroObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGeneroObtenerTodos] 
AS

SELECT * 
FROM  [dbo].[genero]
order by id
GO
/****** Object:  StoredProcedure [dbo].[spLegajoEliminar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLegajoEliminar] 
@id int
AS

delete 
from legajo 
where id =  @id
GO
/****** Object:  StoredProcedure [dbo].[spLegajoInsertar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLegajoInsertar] 
@empresa_id int,
@nro_legajo int,
@dni int,
@apellido varchar(50),
@nombre varchar(50),
@genero_id int,
@ubicacion_id int,
@sector_id int,
@local_id int,
@categoria_id int,
@funcion_id int,
@observacion text,
@activo bit,
@fecha_alta datetime,
@fecha_baja datetime
AS

declare @c as int 

select @c = (Select count(*) from legajo where empresa_id=@empresa_id and nro_legajo=@nro_legajo)

if @c>0 return

INSERT INTO legajo
(
   empresa_id,
   nro_legajo, 
   dni,
   apellido, 
   nombre, 
   genero_id,
   ubicacion_id,
   sector_id, 
   local_id,
   categoria_id, 
   funcion_id,
   observacion,
   activo, 
   fecha_alta,
   fecha_baja
 )
VALUES
(
   @empresa_id,
   @nro_legajo,
   @dni,
   @apellido, 
   @nombre, 
   @genero_id,
   @ubicacion_id,
   @sector_id, 
   @local_id,
   @categoria_id, 
   @funcion_id,
   @observacion,
   @activo, 
   @fecha_alta,
   @fecha_baja
)

GO
/****** Object:  StoredProcedure [dbo].[spLegajoModificar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLegajoModificar] 
@id int,
@empresa_id int,
@nro_legajo int,
@dni int,
@apellido varchar(50),
@nombre varchar(50),
@genero_id int,
@ubicacion_id int,
@sector_id int,
@local_id int,
@categoria_id int,
@funcion_id int,
@observacion text,
@activo bit,
@fecha_alta datetime,
@fecha_baja datetime
AS

declare @c as int 

select @c = (Select count(*) from legajo where empresa_id=@empresa_id and nro_legajo=@nro_legajo)

if @c<>1 return

UPDATE legajo
SET  empresa_id=@empresa_id,
     dni=@dni, 
     apellido=@apellido, 
     nombre=@nombre, 
     genero_id=@genero_id, 
     ubicacion_id=@ubicacion_id, 
     sector_id=@sector_id, 
     local_id=@local_id, 
     categoria_id=@categoria_id,
     funcion_id=@funcion_id,
     observacion=@observacion, 
     activo=@activo, 
     fecha_alta=@fecha_alta,
     fecha_baja=@fecha_baja
where id =  @id
GO
/****** Object:  StoredProcedure [dbo].[spLegajoObtener]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLegajoObtener] 
@id int
AS

select l.*,
       g.descripcion as genero,
       s.descripcion as sector,
       loca.Descripcion as local,
       c.descripcion as categoria,
       e.descripcion as empresa,
       u.descripcion as ubicacion
from legajo l
left join sector s on l.sector_id = s.id
left join MontagneProduccion.dbo.Locales loca on l.local_id = loca.Codigo 
left join categoria c ON l.categoria_id = c.id 
left join empresa e ON l.empresa_id = e.id  
left join ubicacion u ON l.ubicacion_id = u.id 
left join genero g ON l.genero_id = g.id
where l.id = @id

GO
/****** Object:  StoredProcedure [dbo].[spLegajoObtenerDeImportacion]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLegajoObtenerDeImportacion] 
@nro_legajo varchar(50),
@apellido varchar(100),
@nombre varchar(100),
@empresa varchar(100),
@sector varchar(100),
@categoria varchar(100),
@funcion varchar(100),
@str_fecha_ingreso varchar(10),
@str_fecha_baja varchar(10),
@genero varchar(100),
@ubicacion_id int,
@observacion text

AS

declare @c int
declare @empresa_id int
declare @sector_id int 
declare @local_id int 
declare @categoria_id int 
declare @funcion_id int 
declare @genero_id int 

select @empresa_id= e.id
from empresa e 
where e.Descripcion = @empresa
or e.nomenclatura = @empresa

if @empresa_id is null return -2


select @c=count(*)
from legajo l 
where l.empresa_id = @empresa_id
and   l.nro_legajo = @nro_legajo

if @c>0 return -1


if  @ubicacion_id=1 or @ubicacion_id=2
begin
  select @sector_id=s.id
  from sector   s
  where s.Descripcion = @sector
  
   set @local_id=NULL 
   
  if @sector_id is null return -3
end
ELSE 
BEGIN 
  select @local_id=l.Codigo 
  from MontagneProduccion.dbo.Locales l 
  where l.Descripcion = @sector
  
  set @sector_id=NULL 
  
  if @local_id is null return -3
end



select @categoria_id= c.id
from categoria c
where c.Descripcion = @categoria

if @categoria_id is null return -4

select @funcion_id=f.id
from funcion f 
where f.Descripcion = @funcion

if @funcion_id is null return -5

select @genero_id= g.id
from genero g
where SUBSTRING(g.descripcion,1,1) = @genero

if @genero_id is null return -6

select @nro_legajo as nro_legajo,
       @empresa_id as empresa_id,
       @sector_id as sector_id,
       @local_id as local_id,
       @categoria_id as categoria_id,
       @funcion_id as funcion_id,
       @genero_id as genero_id,
       @apellido as apellido,
       @nombre as nombre,
       @observacion as observacion,
       @ubicacion_id as ubicacion_id,
       case when @str_fecha_ingreso = '' then null else @str_fecha_ingreso end  as fecha_alta,
       case when  @str_fecha_baja = '' then null else  @str_fecha_baja end as fecha_baja
GO
/****** Object:  StoredProcedure [dbo].[spLegajoObtenerPorNro]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLegajoObtenerPorNro] 
@empresa_id int,
@nro_legajo int
AS

select l.*,
       g.descripcion as genero,
       s.descripcion as sector,
       loca.Descripcion as local,
       c.descripcion as categoria,
       e.descripcion as empresa,
       u.descripcion as ubicacion
from legajo l
left join sector s on l.sector_id = s.id
left join MontagneProduccion.dbo.Locales loca on l.local_id = loca.Codigo 
left join categoria c ON l.categoria_id = c.id 
left join empresa e ON l.empresa_id = e.id  
left join ubicacion u ON l.ubicacion_id = u.id 
left join genero g ON l.genero_id = g.id
where empresa_id=@empresa_id 
and nro_legajo =  @nro_legajo



GO
/****** Object:  StoredProcedure [dbo].[spLegajoObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLegajoObtenerTodos] 
@empresa_id int, 
@nro_legajo int,
@apellido varchar(50)
AS


select l.*,
       g.descripcion as genero,
       s.descripcion as sector,
       loca.Descripcion as local,
       c.descripcion as categoria,
       e.descripcion as empresa,
       u.descripcion as ubicacion
from legajo l
left join sector s on l.sector_id = s.id 
left join MontagneProduccion.dbo.Locales loca on l.local_id = loca.Codigo 
left join categoria c ON l.categoria_id = c.id 
left join empresa e ON l.empresa_id = e.id  
left join ubicacion u ON l.ubicacion_id = u.id 
left join genero g ON l.genero_id = g.id
where  (@empresa_id=-1 or empresa_id = @empresa_id)
and    (@nro_legajo=-1 or l.nro_legajo = @nro_legajo)
and    (@apellido='' or l.apellido like '%'+ @apellido +'%')
order by nro_legajo
GO
/****** Object:  StoredProcedure [dbo].[spLocalObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLocalObtenerTodos] 
AS



select Codigo as id ,
       Descripcion as Descripcion 
from MontagneProduccion.dbo.Locales
order by Descripcion 
GO
/****** Object:  StoredProcedure [dbo].[spLogin]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLogin] 
@UsuarioID varchar(255)
AS

select a.id,
       a.UsuarioID,
       a.clave,      
       a.Apellido,
       a.Nombre,
	   a.perfil_id,
	   p.descripcion  as perfil_descripcion 
from usuario a
inner join perfil p on a.perfil_id = p.id
where a.UsuarioID=@UsuarioID;
GO
/****** Object:  StoredProcedure [dbo].[spNovedadEliminar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNovedadEliminar] 
@id int

AS
Delete from novedad 
WHERE id = @id
GO
/****** Object:  StoredProcedure [dbo].[spNovedadInsertar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNovedadInsertar] 
@legajo_id int,
@ubicacion_id int,
@sector_id int,
@local_id int,
@responsable_id int,
@categoria_novedad_id int,
@tipo_novedad_id int,
@tipo_resolucion_id int,
@concepto int,
@dias int,
@observacion text,
@fecha_novedad datetime, 
@fecha_resolucion datetime,
@usuario_id int

AS

declare @c as int 

/*select @c = (Select count(*) from legajo where nro_legajo=@nro_legajo)

if @c<>1 return -1
*/

INSERT INTO novedad
(
 legajo_id, 
 ubicacion_id,
 sector_id,
 local_id,
 responsable_id,
 categoria_novedad_id, 
 tipo_novedad_id, 
 tipo_resolucion_id, 
 concepto, 
 dias, 
 observacion, 
 fecha_novedad, 
 fecha_resolucion, 
 fecha_alta,
 usuario_id 
 )

VALUES
(
 @legajo_id, 
 @ubicacion_id,
 @sector_id,
 @local_id,
 @responsable_id,
 @categoria_novedad_id, 
 @tipo_novedad_id, 
 @tipo_resolucion_id, 
 @concepto, 
 @dias, 
 @observacion, 
 @fecha_novedad, 
 @fecha_resolucion, 
 getdate(),
 @usuario_id
)

return 0
GO
/****** Object:  StoredProcedure [dbo].[spNovedadModificar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNovedadModificar] 
@id int,
@legajo_id int,
@ubicacion_id int,
@sector_id int,
@local_id int,
@responsable_id int,
@categoria_novedad_id int,
@tipo_novedad_id int,
@tipo_resolucion_id int,
@concepto int,
@dias int,
@observacion text,
@fecha_novedad datetime, 
@fecha_resolucion datetime,
@usuario_id int

AS

declare @c as int 

/*
select @c = (Select count(*) from legajo where nro_legajo=@nro_legajo)

if @c<>1 return -1
*/

UPDATE novedad
SET legajo_id=@legajo_id, 
    ubicacion_id=@ubicacion_id, 
    sector_id=@sector_id, 
    local_id=@local_id, 
    responsable_id=@responsable_id, 
    categoria_novedad_id=@categoria_novedad_id, 
    tipo_novedad_id=@tipo_novedad_id, 
    tipo_resolucion_id=@tipo_resolucion_id, 
    concepto=@concepto, 
    dias=@dias, 
    observacion=@observacion, 
    fecha_novedad=@fecha_novedad, 
    fecha_resolucion=@fecha_resolucion,
    usuario_id =@usuario_id,
    fecha_alta = getdate()
WHERE id = @id

return 0
GO
/****** Object:  StoredProcedure [dbo].[spNovedadObtener]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNovedadObtener] 
@id int

AS
Select nov.*,
       cn.descripcion as categoria_novedad, 
       tn.descripcion as tipo_novedad,
       tr.descripcion as tipo_resolucion,
       l.empresa_id,
       l.nro_legajo,
       l.apellido,
       l.nombre,
         case when nov.ubicacion_id=1 then 
          isnull((select Descripcion 
           from MontagneProduccion.dbo.Sectores s 
           where s.Idsec=nov.sector_id
           ),'') else '' end as sector,
        u.apellido + ', ' + u.nombre as usuario
from novedad nov 
left join categoria_novedad cn on nov.categoria_novedad_id = cn.id 
left join tipo_novedad tn on nov.tipo_novedad_id  = tn.id
left join tipo_resolucion tr on nov.tipo_resolucion_id  = tr.id
left join legajo l on nov.legajo_id = l.id 
left join usuario u  on nov.usuario_id  = u.id 
where nov.id = @id 
GO
/****** Object:  StoredProcedure [dbo].[spNovedadObtenerDeImportacion]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNovedadObtenerDeImportacion] 
@empresa varchar(100),
@nro_legajo varchar(50),
@ubicacion_id int,
@sector varchar(100),
@responsable varchar(100),
@concepto varchar(100),
@categoria_novedad varchar(100),
@tipo_novedad varchar(100),
@str_fecha_novedad varchar(10),
@tipo_resolucion varchar(100),
@str_fecha_resolucion varchar(10),
@dias varchar(100),
@observacion text

AS

declare @c int
declare @usuario_id int
declare @legajo_id int 
declare @sector_id int 
declare @local_id int 
declare @tipo_novedad_id int 
declare @tipo_resolucion_id int 
declare @responsable_id int 
declare @categoria_id int 
declare @empresa_id int 

select @empresa_id= e.id
from empresa e 
where e.Descripcion = @empresa
or e.nomenclatura = @empresa

if @empresa_id is null return -2

select @legajo_id = l.id
from legajo l 
where l.empresa_id = @empresa_id
and   l.nro_legajo = @nro_legajo

if  @legajo_id is null return -2

/*
select @categoria_id= cn.id
from categoria_novedad  cn  
where cn.descripcion  = @categoria_novedad
*/

select @usuario_id= u.id
from usuario u  
where u.UsuarioID  =   'GFERNANDEZ'

if  @ubicacion_id=1 or @ubicacion_id=2
begin
  select @sector_id=s.id
  from sector   s
  where s.Descripcion = @sector
  
   set @local_id=NULL 
   
  --if @sector_id is null return -3
end
ELSE 
BEGIN 
  select @local_id=l.Codigo 
  from MontagneProduccion.dbo.Locales l 
  where l.Descripcion = @sector
  
  set @sector_id=NULL 
  
  if @local_id is null return -3
end

select @responsable_id= r.id
from responsable r  
where r.apellido  = @responsable

select @tipo_novedad_id=n.id
from tipo_novedad n   
where n.descripcion  = @tipo_novedad

if @tipo_novedad_id is null return -4

select @tipo_resolucion_id= r.id
from tipo_resolucion r
where r.descripcion = @tipo_resolucion



select @usuario_id as usuario_id,
       @legajo_id as legajo_id,
       @ubicacion_id as ubicacion_id,
       @sector_id as sector_id,
       @local_id as local_id,
       @categoria_novedad as categoria_novedad_id,
       @responsable_id as responsable_id,
       @tipo_novedad_id as tipo_novedad_id,
       @tipo_resolucion_id as tipo_resolucion_id,
       @observacion as observacion,
       case when @concepto = '' then null else @concepto end  as concepto,
       case when @dias = '' then null else @dias end  as dias,
       case when @str_fecha_novedad = '' then null else @str_fecha_novedad end  as fecha_novedad,
       case when  @str_fecha_resolucion = '' then null else  @str_fecha_resolucion end as fecha_resolucion;
GO
/****** Object:  StoredProcedure [dbo].[spNovedadObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNovedadObtenerTodos] 
@empresa_id int, 
@categoria_novedad_id int, 
@tipo_novedad_id int,
@tipo_resolucion_id int,
@nro_legajo int,
@apellido varchar(50),
@fecha_novedad_desde datetime,
@fecha_novedad_hasta datetime

AS
Select nov.*,
       cn.descripcion as categoria_novedad, 
       tn.descripcion as tipo_novedad,
       tr.descripcion as tipo_resolucion,
       l.nro_legajo,
       l.apellido,
       l.nombre,
       e.descripcion as empresa,
       u.descripcion as ubicacion,
       r.apellido as responsable,
       s.descripcion as sector,
       loca.Descripcion as local
from novedad nov 
left join categoria_novedad cn on nov.categoria_novedad_id = cn.id 
left join tipo_novedad tn on nov.tipo_novedad_id  = tn.id
left join tipo_resolucion tr on nov.tipo_resolucion_id  = tr.id
left join legajo l on nov.legajo_id = l.id 
left join empresa e on l.empresa_id = e.id
left join ubicacion u on nov.ubicacion_id = u.id  
left join responsable r on nov.responsable_id = r.id
left join sector s on nov.sector_id = s.id
left join MontagneProduccion.dbo.Locales loca on nov.local_id = loca.Codigo 
where (@empresa_id=-1 or empresa_id = @empresa_id)
and   (@categoria_novedad_id=-1 or categoria_novedad_id = @categoria_novedad_id)
and   (@tipo_novedad_id=-1 or tipo_novedad_id = @tipo_novedad_id)
and   (@tipo_resolucion_id=-1 or tipo_resolucion_id = @tipo_resolucion_id)
and   (@nro_legajo=-1 or l.nro_legajo = @nro_legajo)
and   (@apellido='' or l.apellido like '%'+ @apellido +'%')
and   (nov.fecha_novedad  >= @fecha_novedad_desde)
and   (nov.fecha_novedad  <= @fecha_novedad_hasta)
order by fecha_novedad desc 
GO
/****** Object:  StoredProcedure [dbo].[spPerfilObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPerfilObtenerTodos] 
AS

SELECT * 
FROM  [dbo].[perfil]
order by id
GO
/****** Object:  StoredProcedure [dbo].[spResponsableEliminar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spResponsableEliminar] 
@id int
AS

DELETE FROM  [dbo].[responsable]
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spResponsableInsertar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spResponsableInsertar] 
@nombre varchar(50),
@apellido varchar(50)
AS

INSERT INTO [dbo].[responsable]
(
 nombre,
 apellido
)
VALUES
(
 @nombre,
 @apellido
)
GO
/****** Object:  StoredProcedure [dbo].[spResponsableModificar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spResponsableModificar] 
@id int,
@nombre varchar(50),
@apellido varchar(50)
AS

UPDATE [dbo].[responsable]
SET nombre= @nombre,
    apellido=@apellido
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spResponsableObtener]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spResponsableObtener] 
@id int
AS

SELECT * 
FROM  [dbo].[responsable]
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spResponsableObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spResponsableObtenerTodos] 
AS

SELECT id,
        apellido,
        nombre 
FROM  [dbo].[responsable] 
order by apellido , nombre



GO
/****** Object:  StoredProcedure [dbo].[spSectorEliminar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSectorEliminar] 
@id int
AS

DELETE FROM  [dbo].[sector]
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spSectorInsertar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSectorInsertar] 
@descripcion varchar(100),
@ubicacion_id int
AS

INSERT INTO [dbo].[sector]
(
 descripcion,
 ubicacion_id 
)
VALUES
(
 @descripcion,
 @ubicacion_id
)

GO
/****** Object:  StoredProcedure [dbo].[spSectorModificar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSectorModificar] 
@id int,
@descripcion varchar(100),
@ubicacion_id int
AS

UPDATE [dbo].[sector]
SET descripcion = @descripcion,
    ubicacion_id  = @ubicacion_id
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spSectorObtener]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSectorObtener] 
@id int
AS

SELECT s.*,
       u.descripcion as ubicacion
FROM  [dbo].[sector] s
inner join ubicacion u on s.ubicacion_id=u.id
WHERE s.id=@id

GO
/****** Object:  StoredProcedure [dbo].[spSectorObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSectorObtenerTodos] 
@ubicacion_id int
AS



select s.*,
       u.descripcion as ubicacion
from sector s 
inner join ubicacion u on s.ubicacion_id=u.id
where @ubicacion_id=-1 or  ubicacion_id=@ubicacion_id
order by ubicacion_id, Descripcion 

GO
/****** Object:  StoredProcedure [dbo].[spTipoNovedadEliminar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTipoNovedadEliminar] 
@id int
AS

DELETE FROM  [dbo].[tipo_novedad]
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spTipoNovedadInsertar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTipoNovedadInsertar] 
@descripcion varchar(100)
AS

INSERT INTO [dbo].tipo_novedad 
(
 descripcion 
)
VALUES
(
 @descripcion
)
GO
/****** Object:  StoredProcedure [dbo].[spTipoNovedadModificar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTipoNovedadModificar] 
@id int,
@descripcion varchar(100)
AS

UPDATE [dbo].[tipo_novedad]
SET descripcion = @descripcion
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spTipoNovedadObtener]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTipoNovedadObtener] 
@id int
AS

SELECT * 
FROM  [dbo].[tipo_novedad]
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spTipoNovedadObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTipoNovedadObtenerTodos] 
AS

SELECT * 
FROM  [dbo].[tipo_novedad]
order by descripcion
GO
/****** Object:  StoredProcedure [dbo].[spTipoResolucionEliminar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTipoResolucionEliminar] 
@id int
AS

DELETE FROM  [dbo].[tipo_resolucion]
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spTipoResolucionInsertar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTipoResolucionInsertar] 
@descripcion varchar(100)
AS

INSERT INTO [dbo].tipo_resolucion 
(
 descripcion 
)
VALUES
(
 @descripcion
)
GO
/****** Object:  StoredProcedure [dbo].[spTipoResolucionModificar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTipoResolucionModificar] 
@id int,
@descripcion varchar(100)
AS

UPDATE [dbo].[tipo_resolucion]
SET descripcion = @descripcion
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spTipoResolucionObtener]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTipoResolucionObtener] 
@id int
AS

SELECT * 
FROM  [dbo].[tipo_resolucion]
WHERE id=@id
GO
/****** Object:  StoredProcedure [dbo].[spTipoResolucionObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTipoResolucionObtenerTodos] 
AS

SELECT * 
FROM  [dbo].[tipo_resolucion]
order by descripcion 
GO
/****** Object:  StoredProcedure [dbo].[spUbicacionObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUbicacionObtenerTodos] 
AS

SELECT u.id,
      u.descripcion as descripcion  
FROM  [dbo].[ubicacion] u
order by u.descripcion



GO
/****** Object:  StoredProcedure [dbo].[spUsuarioCambiarClave]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUsuarioCambiarClave] 
@UsuarioID varchar(255),
@clave varchar(255)

AS


UPDATE [dbo].[usuario]
SET    clave=@clave
where UsuarioID=@UsuarioID
GO
/****** Object:  StoredProcedure [dbo].[spUsuarioEliminar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUsuarioEliminar] 
@UsuarioID varchar(255)
AS

delete from usuario where UsuarioID=@UsuarioID
GO
/****** Object:  StoredProcedure [dbo].[spUsuarioInsertar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUsuarioInsertar] 
@UsuarioID varchar(255),
@clave varchar(255),
@nombre varchar(100),
@apellido varchar(100),
@perfil_id int
AS

declare @c as int 

select @c = (Select count(*) from usuario where UsuarioID=@UsuarioID)

if @c>0 return

INSERT INTO [dbo].[usuario]
           (
             UsuarioID,
             clave,
             nombre,
             apellido,
			 perfil_id
            )
     VALUES
           (
             @UsuarioID,
             @clave,
             @nombre,
             @apellido,
			 @perfil_id
   	       )

GO
/****** Object:  StoredProcedure [dbo].[spUsuarioModificar]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUsuarioModificar] 
@UsuarioID varchar(255),
@nombre varchar(100),
@apellido varchar(100),
@perfil_id int
AS


UPDATE [dbo].[usuario]
SET    nombre=@nombre,
       apellido=@apellido,
	   perfil_id=@perfil_id
where UsuarioID=@UsuarioID
GO
/****** Object:  StoredProcedure [dbo].[spUsuarioObtener]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUsuarioObtener] 
@UsuarioID varchar(255)
AS

select a.*, perfil_id as perfil_descripcion 
from usuario a 
where UsuarioID=@UsuarioID
GO
/****** Object:  StoredProcedure [dbo].[spUsuarioObtenerTodos]    Script Date: 8/6/2022 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUsuarioObtenerTodos] 
AS

select a.*, 
       p.descripcion  as perfil_descripcion 
from usuario a  
inner join perfil p on a.perfil_id = p.id
order by apellido, nombre
GO
